body{
    background: linear-gradient(180deg, #10a195 27%, #38ef7d 100%);
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
html,
:root {
  height: 100%;
}
* {
   outline: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#contener{
    padding: 23px;
    margin-top: -200px;
    border-radius: 6px;
    box-shadow: 
    10px 10px 20px rgb(0, 0, 0); 
    background-color: rgb(241, 255, 251);
 
}
#page {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
label{
    font-size: 17px;
    margin: 10% 10% 10% 12%;
    position: relative;
    top: 0px;
    right: 12px;
}
input{
    padding: 5px;
    position: relative;
    top: 6px;
    left: 25px;
    border-radius: 5px;
}

button{
    position: relative;
    padding: 5px;
    top: 6px;
    right: 0px;
    left: 30px;
    border-radius: 4px;
    background-color: #e7fbf3;
}

legend{
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    padding: 26px
}
select{
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px;
    right: 43px;
    text-align: center;
}
#enviarCategoria{
    padding: 4px;
    position: relative;
    left: -38px;
    top: 0px;
}

#listaCompleta{
    position: relative;
    right: 0px;
    top: 1px;
    left: -40px;
    padding: 4px;
}
.em-shopping_trolley{
    padding: 23px;
    display: flex;
}

#listaDeProdutos{
    display: flex;
    padding: 30px;
    margin-left: 25px;
    margin-top: -200px;
    border-radius: 6px;
    width: 400px;
    box-shadow: 
    10px 10px 20px rgb(0, 0, 0); 
    background-color: rgb(241, 255, 251);
}
ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
ul li {
    border-radius: 4px;
    padding: 5px;
}
#listaDeprodutos h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

